* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1000px;
  margin: auto;
  width: 100%;
  margin-top: 2rem;
}

.heading {
  color: rgb(58, 58, 58);
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
header {
  background-color: black;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 38px;
}
.logo-heading h1 {
  font-size: 1.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  color: #616161;
  font-size: 2rem;
}
header h1 span {
  color: white;
}
.nav-links {
  display: flex;
  list-style: none;
  column-gap: 60px;
}

.nav-links li {
  margin-right: 16px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.hero {
  background-color: #8db4b8;
  padding: 6rem 2rem;
  text-align: center;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.hero p {
  font-size: 0.8rem;
  color: #3b3b3b;
}

/* ======================================= Home ============================================= */
.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.home h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home p {
  text-align: start;
  font-size: 1.2rem;
  color: #3b3b3b;
  margin-bottom: 1rem;
}
.home-text img {
  margin-left: 7rem;
}

.recipes-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}

.recipie-card {
  border-radius: 0.4rem;
  border: none;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(128, 128, 128, 0.459);
  transition: ease 0.5s;
}
.recipie-card:hover {
  transition: ease 0.5s;
  transform: scale(1.2);
}

.recipie-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipes {
  padding: 0.5rem;
}

.recipes h3 {
  color: black;
  margin-bottom: 0.5rem;
}

.recipes p {
  color: #3b3b3b;
}

.about-content {
  background: rgb(230, 230, 230);
  border-radius: 15px;
  padding: 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-content li {
  color: #3b3b3b;
}

.about-content h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-content p {
  color: #3b3b3b;
}

.recipie-form {
  background: rgb(230, 230, 230);
  border-radius: 15px;
  padding: 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-box {
  margin-bottom: 2rem;
}

.form-box label {
  display: block;
  margin-bottom: 0.5rem;
  color: black;
}

.form-box input {
  width: 70%;
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 1rem;
}
.form-box textarea {
  width: 70%;
  padding: 4rem;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 1rem;
}

.submit-btn {
  background-color: black;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: ease 0.5s;
}

.submit-btn:hover {
  background-color: #3b3b3b;
  transition: 0.2s all linear;
  transition: ease 0.5s;
  transform: scale(1.2);
}

footer {
  background-color: black;
  color: white;
  padding: 2rem 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.social-links img {
  width: 50px;
  height: 50px;
  transition: ease 0.5s;
}

.social-links img:hover {
  transition: ease 0.5s;
  transform: scale(1.2);
}
